body{
  background-color: #999;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}


.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom{
  text-decoration: none;
}

.custom:hover{
  text-decoration: underline;
}
